<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-5">
    <div class="container">
        <h2>Stacked form</h2>
        <form th:action="@{/booking}" method="post">
            <input type="hidden" th:value="${dichvu.getId()}" name="id">
            <div class="form-group">
                <label for="tendichvu">Tên Dịch Vụ :</label>
                <input type="text" class="form-control" id="tendichvu"  name="tendichvu" th:value="${dichvu.getTenDichVu()}" disabled>
            </div>
            <div class="form-group">
                <label for="dientich">Diện Tích Sử Dụng:</label>
                <input type="text" class="form-control" id="dientich" th:value="${dichvu.getDienTich()} + m2" name="dientich" disabled>
            </div>
            <div class="form-group">
                <label for="chiphithue">Chi Phí Thuê:</label>
                <input type="text" class="form-control" id="chiphithue" th:value="${dichvu.getChiPhiThue()} + m2" name="chiphithue" disabled>
            </div>
            <div class="form-group">
                <label for="songuoitoida">Số Người Tối Đa:</label>
                <input type="text" class="form-control" id="songuoitoida" th:value="${dichvu.getSoNguoiToiDa()} + m2" name="songuoitoida" disabled>
            </div>

            <div class="form-group">
                <label for="sotang">Số Tầng:</label>
                <input type="text" class="form-control" id="sotang" th:value="${dichvu.getSoTang()} + m2" name="sotang" disabled>
            </div>

            <div class="form-group">
                <label for="ngaybatdau">Ngày Bắt Đầu:</label>
                <input type="date" class="form-control" id="ngaybatdau" name="ngaybatdau">
            </div>

            <div class="form-group">
                <label for="ngayketthuc">Ngày Kết Thúc:</label>
                <input type="date" class="form-control" id="ngayketthuc" name="ngayketthuc">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>